<div>
    <div class="content-container">
      <mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>
      <span class="content-span full-width">{{data.message}}</span>
    </div>
    <button mat-flat-button id="no-button" [mat-dialog-close]="false">NO</button>
    <button  *ngIf="data.message!='are you sure to add this prospect as partner ?'" mat-flat-button id="yes-button"  [mat-dialog-close]="true"  >YES</button>
    <button *ngIf="data.message=='are you sure to add this prospect as partner ?'" mat-flat-button   (click)="addContrat()">yes</button>

  </div>

  <div *ngIf="data.message=='are you sure to add this prospect as partner ?' && clicked==true">
    <input type="file" (change)="getFile($event)" value="upload the contrat (pdf)"> <br><br>
    <input type="button" value=" upload file "  [mat-dialog-close]="true" >

  </div>